<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Winforms_SqlConnection.Properties.Settings.TestDB2ConnectionString"
      connectionString="Data Source=E15510S1L;Initial Catalog=TestDB2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="sqlCon" value="Data Source=E15510S1L;Initial Catalog=TestDB2;Integrated Security=SSPI;"/>
  </appSettings>
</configuration>
